<div class="row">
   <!-- Blog Content-->
   <div class="col-lg-9">
      <div class="row">
         <!-- Posts column 1-->
         <div class="col-lg-8">
            <div class="panel">
               <a href="">
                  <img src="app/img/fs/dwayne_wade.jpeg" class="img-responsive" />
               </a>
               <div class="panel-body">
                  <p class="clearfix">
                     <span class="pull-left">
                        <small class="mr-sm">By <a href="">Erica Castro</a>
                        </small>
                        <small class="mr-sm">May 03, 2015</small>
                     </span>
                     <span class="pull-right">
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                        </small>
                     </span>
                  </p>
                  <h4> <a href="">Trip down the river</a>
                  </h4>
                  <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>