.row
  // Blog Content
  .col-lg-9
    .row
      // Posts column 1
      .col-lg-8
        .panel
          a(href="")
            img.img-responsive(src="app/img/fs/dwayne_wade.jpeg")
          .panel-body
            p.clearfix
              span.pull-left
                small.mr-sm By 
                  a(href="") Erica Castro
                small.mr-sm May 03, 2015
              span.pull-right
                small 
                  strong 56
                  span Comments
            h4 
              a(href="") Trip down the river
            p Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit. 
