<h3 translate="offsidebar.chat.LINEUP" class="text-center text-thin">Connections</h3>
<ul class="nav">
   <!-- START list title-->
   <!-- END list title-->
   <li>
      <!-- START User status-->
      <a href="#" class="media-box p mt0">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="app/img/fs/CamNewton.jpeg" alt="Image" class="media-box-object img-circle thumb48" />
         </span>
         <!-- Contact info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Cam Newton</strong>
               <br/>
               <small class="text-muted">QB</small>
            </span>
         </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a href="#" class="media-box p mt0">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="app/img/fs/AntonioBrown.jpg" alt="Image" class="media-box-object img-circle thumb48" />
         </span>
         <!-- Contact info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Antonio Brown</strong>
               <br/>
               <small class="text-muted">WR</small>
            </span>
         </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a href="#" class="media-box p mt0">
         <span class="pull-right">
            <span class="circle circle-danger circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Contact avatar-->
            <img src="app/img/fs/LeVeonBell.jpeg" alt="Image" class="media-box-object img-circle thumb48" />
         </span>
         <!-- Contact info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>LeVeon Bell</strong>
               <br/>
               <small class="text-muted">RB</small>
            </span>
         </span>
      </a>
      <!-- END User status-->
   </li>
</ul>