h3.text-center.text-thin(translate="offsidebar.chat.LINEUP") Connections

ul.nav
  // START list title
  // END list title
  li
    // START User status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-success.circle-lg
      span.pull-left
        // Contact avatar
        img.media-box-object.img-circle.thumb48(src='app/img/fs/CamNewton.jpeg', alt="Image")
      // Contact info
      span.media-box-body
        span.media-box-heading
          strong Cam Newton
          br
          small.text-muted QB
    // END User status
    // START User status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-success.circle-lg
      span.pull-left
        // Contact avatar
        img.media-box-object.img-circle.thumb48(src='app/img/fs/AntonioBrown.jpg', alt="Image")
      // Contact info
      span.media-box-body
        span.media-box-heading
          strong Antonio Brown
          br
          small.text-muted WR
    // END User status
    // START User status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-danger.circle-lg
      span.pull-left
        // Contact avatar
        img.media-box-object.img-circle.thumb48(src='app/img/fs/LeVeonBell.jpeg', alt="Image")
      // Contact info
      span.media-box-body
        span.media-box-heading
          strong LeVeon Bell
          br
          small.text-muted RB
    // END User status